html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: red; }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0; }

.contanier {
  font-size: 30rem; }
