$color-white: #fff;
$color-black: #000;

$color-blue: #1245c6;
$color-purple: #9909b7;

$color-layout-backround: #0a0a0a;
$color-header-background: #0a0a0a;
$color-main-background: rgb(27, 27, 27);
$color-btn: rgb(14, 14, 14);

$font-color-white: #fff;
$font-color-grey: rgb(231, 231, 231);

$bg-gradient: linear-gradient(to right, $color-blue, $color-purple);
