.text {
  color: $font-color-grey;
  font-size: calc($font-size-p * 1.1);
  padding: 0 5rem;
}

.text__link {
  &,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    background: $bg-gradient;
    color: $font-color-grey;
    padding: 0.5rem 1rem;
    border-radius: 999px;
  }
}
