.text {
  color: $font-color-grey;
  font-size: $font-size-p;
  padding: 0 5rem;
}

.text__link {
  &,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    background: $bg-gradient;
    color: transparent;
    background-clip: text;
  }
}
