.section-home {
  color: $font-color-grey;
  justify-content: center;

  display: flex;
  flex-direction: column;

  transition: transform 1s;

  &__intro {
    font-size: $font-size-h1;
    background: $bg-gradient;
    color: transparent;
    background-clip: text;
    margin-bottom: $margin-bottom-large;

    @include respond(phone-port) {
      margin-bottom: 4rem;
    }
  }

  &__text {
    font-size: $font-size-p;
    align-self: center;
    text-align: justify;
    padding: 0 5rem;

    @include respond(tab-port) {
      text-align: left;
    }
  }
}