.swiper {
  height: 100%;
  width: 100%;

  &-wrapper {
    height: 97% !important; //swiper default style 100%
    position: relative;
  }

  &-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
