.swiper__pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.pagination-bullet {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0 1rem;
  background: $color-layout-backround;
  cursor: pointer;

  &-active {
    background: $color-white;
  }
}
