.button-gradient {
  display: inline-block;
  font-size: $font-size-button;
  align-self: center;
  min-width: fit-content;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 3rem;
  background: $bg-gradient;
  box-shadow: 0 5px 10px 2px rgba($color-btn, 1);
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px 4px rgba($color-btn, .7);
  }
}

.swiper__btn {

  &--previous,
  &--next {
    position: absolute;
    height: clamp(4rem, 4vw, 5rem);
    width: clamp(4rem, 4vw, 5rem);
    top: clamp(40%, 1%, 45%);
    z-index: 999;
    border-radius: .5rem;
    background: $bg-swiper-btn;
    box-shadow: 0 2px 10px (rgba($bg-swiper-btn-hover, .7));
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      background: $bg-swiper-btn-hover;
    }
  }

  &--previous {
    left: clamp(4rem, 6vw, 6rem);
    right: auto;

    &::after {
      content: "";
      width: clamp(.5rem, 2.8vw, 3rem);
      height: clamp(.2rem, .6vw, .4rem);
      left: 50%;
      top: 64%;
      background: $bg-gradient;
      border-radius: 999rem;
      position: absolute;
      transform: translate(-50%, -50%) rotate(30deg);
      transform-origin: center;
    }

    &::before {
      content: "";
      width: clamp(.5rem, 2.8vw, 3rem);
      height: clamp(.2rem, .6vw, .4rem);
      left: 50%;
      top: 36%;
      background: $bg-gradient;
      border-radius: 999rem;
      position: absolute;
      transform: translate(-50%, -50%) rotate(-30deg);
      transform-origin: center;
    }

    @include respond(phone-land) {

      &::after,
      &::before {
        width: clamp(1.2rem, 3.8vw, 3.2rem);
        height: clamp(.3rem, .6vw, .4rem);
      }
    }

    @include respond(phone-port) {
      left: .5rem;

      &::after {
        top: 60%;
      }

      &::before {
        top: 40%;
      }
    }
  }

  &--next {
    right: clamp(4rem, 6vw, 6rem);
    left: auto;

    &::after {
      content: "";
      width: clamp(.5rem, 2.8vw, 3rem);
      height: clamp(.2rem, .6vw, .4rem);
      left: 50%;
      top: 64%;
      background: $bg-gradient;
      border-radius: 999rem;
      position: absolute;
      transform: translate(-50%, -50%) rotate(-30deg);
    }

    &::before {
      content: "";
      width: clamp(.5rem, 2.8vw, 3rem);
      height: clamp(.2rem, .6vw, .4rem);
      left: 50%;
      top: 36%;
      background: $bg-gradient;
      border-radius: 999rem;
      position: absolute;
      transform: translate(-50%, -50%) rotate(30deg);
    }

    @include respond(phone-land) {

      &::after,
      &::before {
        width: clamp(1.2rem, 3.8vw, 3.2rem);
        height: clamp(.3rem, .6vw, .4rem);
      }
    }

    @include respond(phone-port) {
      right: .5rem;

      &::after {
        top: 60%;
      }

      &::before {
        top: 40%;
      }
    }
  }
}