.button-gradient {
  display: inline-block;
  align-self: center;
  min-width: fit-content;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 3rem;
  background: $bg-gradient;
  box-shadow: 0 5px 10px 2px rgba($color-btn, 1);
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px 4px rgba($color-btn, 0.7);
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: $color-white;
  background-clip: text;

  &::after {
    color: transparent;
  }
}

.swiper-button-next {
  right: 5rem !important;
  left: auto;
}

.swiper-button-prev {
  left: 5rem !important;
  right: auto;
}
