.socials__icon {
  width: 100%;
  height: 100%;
  background: $bg-gradient;
  border-radius: 50%;
  color: $color-header-background;
  box-shadow: inset 0 0 2px 2px $color-header-background,
    inset 0 0 2px 2px $color-header-background,
    inset 0 0 2px 2px $color-header-background,
    inset 0 0 2px 2px $color-header-background;
  //gradient na pozadi preteka, resi to nahusteny inset stin, nez se najde lepsi reseni
}

.contact__icon {
  width: 3rem;
  height: 3rem;
  background: $bg-gradient;
  border-radius: 50%;
  color: $color-main-background;
  box-shadow: inset 0 0 2px 2px $color-main-background,
    inset 0 0 2px 2px $color-main-background,
    inset 0 0 2px 2px $color-main-background,
    inset 0 0 2px 2px $color-main-background;
}
