.home {
  color: $font-color-grey;
  justify-content: center;

  display: flex;
  flex-direction: column;

  transition: transform 1s;

  &__intro {
    font-size: 10rem;
  }

  &__text {
    font-size: 1.6rem;
    align-self: center;
    text-align: justify;
    padding: 0 5rem;
  }
}
